---
- name: Add Tenants and such
  hosts: apic1
  connection: local
  tasks:
    - name: Tenant loop
      ansible.builtin.include_tasks: ../tasks/L1_tenant_loop.yml
      loop: "{{ tenants }}"
      loop_control:
        loop_var: tenant_loop
